node_modules
public
.tmp
.sass-cache
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log

/server/api/thing
/client/app/main/main.controller.old.js
/e2e
/client/components/localStorage/localStorage.service.old.js
