<qrcode size="284" data="{{ getWaitingRoomLink() }}" href="{{ getWaitingRoomLink() }}"></qrcode>
<p>{{ getWaitingRoomLink() }}</p>
<input type="button" value="start game" ng-click="startGame()"/>
<div>
  <h1>players</h1>
  <ul>
    <li ng-repeat="player in roomData.players">{{ player.name }} - {{ player.ready }} -
        <span ng-switch on="{{ player.connection }}">
          <span class="bg-success" ng-switch-when="true">Connected</span>
          <span class="bg-warning" ng-switch-when="false">Disconnected</span>
        </span>
    </li>
  </ul>
</div>


