$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * Color Vars
 */
$brand-pink: #E43162;
$brand-green: #41EFB6;
$brand-darkblue: #2C363F;
$brand-blue: #3A3A4F;
$body-bg: #222930;
$text-color-primary: #FFF;
$text-color-secondary: #999;

/**
 * Font
 */
@import url(https://fonts.googleapis.com/css?family=Nunito:400,700,300);
$font-bold: 700;
$font-normal: 400;
$font-light: 300;

/**
 * App-wide Styles
 */
body {
  background-color: $body-bg;
  color: $text-color-secondary;
  font-family: Nunito, "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial
}

a {
  color: $brand-pink;
  &:hover {
    color: $text-color-primary;
    text-decoration: none;
  }
}

button {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;

  transition: all .23s;
  font-size: 14px;
  font-weight: 600;
  border-radius: 4px;
  padding: 16px 30px;
  color: $text-color-primary;
  border: 2px solid $text-color-primary;
  margin-right: 12px;
  background: none;
  &:hover {
    transition: all .23s;
    color: $brand-pink;
    border-color: $brand-pink;
  }
}

#banner {
  background-color: $brand-darkblue;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'createroom/createroom.scss';
@import 'hotjoin/hotjoin.scss';
@import 'main/main.scss';
@import 'play/play.scss';
@import 'room/room.scss';
@import 'screen/screen.scss';
@import '../components/cah-controller/cah-controller.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
