<div id="nes-controller" ng-controller="ControllerEvents">
  <div class="pad-area">
    <div class="dpad">
      <div id="up" class="direction"
           hm-recognizer-options='[{"time":10}, {"preventDefault":true}]'
           hm-press="direction($event)"
           hm-pressup="endDirection($event)"><span class="glyphicon glyphicon-arrow-up"></span></div>
      <div id="down" class="direction"
           hm-recognizer-options='[{"time":10}, {"preventDefault":true}]'
           hm-press="direction($event)"
           hm-pressup="endDirection($event)"><span class="glyphicon glyphicon-arrow-up"></span></div>
      <div id="left" class="direction"
           hm-recognizer-options='[{"time":10}, {"preventDefault":true}]'
           hm-press="direction($event)"
           hm-pressup="endDirection($event)"><span class="glyphicon glyphicon-arrow-up"></span></div>
      <div id="right" class="direction"
           hm-recognizer-options='[{"time":10}, {"preventDefault":true}]'
           hm-press="direction($event)"
           hm-pressup="endDirection($event)"><span class="glyphicon glyphicon-arrow-up"></span></div>
    </div>
  </div>

  <button ng-click="startButton()" style="position:absolute; left: 0; top: 0; width:100px; height: 155px; z-index: 9000" class="box">start</button>

</div>
