<navbar></navbar>
<div class="col-md-12">
  <!--This is the createroom view. {{ message }}-->


  <div class="col-xs-12 col-sm-10 col-sm-offset-1">

    <h2>Create Room</h2>

    <form ng-submit="cr.submitRoom()">

      <!-- NAME INPUT -->
      <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" name="name" ng-model="cr.forumData.name" minlength="1">
      </div>

      <!-- =============================================== -->
      <!-- RADIO BUTTONS -->
      <label>Choose Game:</label>
      <!--<div class="form-group">-->
      <!--<div class="radio">-->
      <!--<label>-->
      <!--<input type="radio" name="gameName" value="Misc Game 1" ng-model="formData.gameName">-->
      <!--Misc Game 1-->
      <!--</label>-->
      <!--</div>-->
      <!--<div class="radio">-->
      <!--<label>-->
      <!--<input type="radio" name="gameName" value="Random Game 2" ng-model="formData.gameName">-->
      <!--Random Game 2-->
      <!--</label>-->
      <!--</div>-->
      <!--<div class="radio">-->
      <!--<label>-->
      <!--<input type="radio" name="gameName" value="Test Game 3" ng-model="formData.gameName">-->
      <!--Test Game 3-->
      <!--</label>-->
      <!--</div>-->
      <!--</div>-->
      <div class="form-group">
        <div class="radio">
          <label ng-repeat="game in cr.games">
            <input type="radio" name="{{ game.name }}" value="{{ game.name }}" ng-model="cr.forumData.shrdGame" />
            {{ game.name }} ( min: {{ game.minPlayers }} max: {{ game.maxPlayers }} )
          </label>
        </div>
      </div>
      <!-- =============================================== -->

      <button type="submit" class="btn btn-danger btn-lg">Create!</button>

    </form>
  </div>
</div>
