<div class="col-md-12">
  <!--This is the play view. {{ message }} {{ user.name }}-->
</div>


<div ng-switch on="stage">
  <!--<h1>{{ stage }}</h1>-->

  <div ng-switch-when="login">
    <h3>Login Stage</h3>

    <button ng-click="loginStage('login')">Login</button>
    <button ng-click="loginStage('signup')">Register</button>
    <button ng-click="loginStage('guess')">Continue as guess</button>


  </div>


  <div ng-switch-when="controller">
    <!--<h3>ready to play</h3>-->
    <!--<input ng-model="playerData" type="text" ng-keyup="updatePlayerData()"/>-->
    <div class="controllers" ng-switch on="controllerType">


      <!--NES Controller-->
      <div ng-switch-when="nes-controller">
        <div ng-include="'components/game-controllers/nes-controller.html'"></div>
      </div>


    </div>


  </div>
</div>


